body {
    font-family: 'Playfair Display', serif;
    height: 100%;
}

.font {
    font-family: 'Playfair Display', serif;
}

.note-tite {
    height: 50px;
    margin-top: 15px;
    width: 100%;
    font-size: 48px;
    outline: none;
    border: none;
}
.note-input {
    resize: none;
    height: calc(100% - 63px);
    width: 100%;
    padding-top: 15px;
    outline: none;
    border: none;
}

.list-container {
    padding-left: 0;
    display: inline-block;
    font-size: 18px;
}

.list-container .card {
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: calc(100vh - 70px);
}

.list-container .list-group {
    border-top: none;
}